body {
    background-color: /* rgb(82, 86, 89); */rgba(237, 237, 240, 1);
}

.center {
    width: 90%;
    padding: 20px;
    box-shadow: 1px 4px 8px 0 rgb(0 0 0 / 20%), 1px 6px 20px 2px rgb(4 0 0);
    top: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20%;
    height: 8%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 999;
    background-color: rgba(249, 249, 250, 1);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.hideform {
    display: none;
}

canvas, .canvas-container {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 7px 1px rgb(0 0 0 / 75%);
}

#pdf-container {
    margin-top: 10px;
    text-align: center;
}

button:focus {
    outline: 0;
}

.tool {
    display: inline-flex;
    color: #fff;
    height: 100%;
    padding-top: 7px;
    padding-left: 5px;
}

.tool label,
.tool select,
.tool input {
    display: inline-block;
    width: auto;
    height: auto !important;
    color: black;
    text-align: center!important;
    font-size: 12px;
}
.tool select {
    font-size: 12px;
}
.tool input {
    width: 38px;
}

.dng-button {
    padding: 0.2rem 0.4rem;
    font-size: .675rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.tool .color-tool {
    height: 22px;
    width: 22px;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    display: inline-block;
}

.tool .color-tool.active {
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}

.tool:nth-last-child(1) {
    font-size: 14px;
    padding-left: 5px;
}

.tool .tool-button {
    background-color: floralwhite;
    border: 1px rgb(50, 54, 57);
    /* color: #fff; */
    cursor: pointer;
    font-size:18px;
}

.tool .tool-button:hover,
.tool .tool-button.active {
    background-color: gainsboro;
    border-color: rgb(82, 86, 89);
}
